[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parameterized = "*"

[dev-packages]
pytest = "*"
pyyaml = "*"
argh = "*"
pylint = "*"
pytest-cov = "*"
pytest-describe = "*"

[requires]
python_version = "3.9"
